<nav class="site-nav">

     <button id="menu--btn" class="menu--btn navbar-toggler" type="button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>
    
    {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
    {{/if}}

    <div id="nav-menu" class="nav-menu">
                
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
            {{#is "post"}}
                <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
            {{/is}}
            
            <div class="social">
                <a href="https://soundcloud.com/crate-digs" target="_blank"><img src="/assets/img/soundcloud.svg" alt="Soundcloud" /></a>
                <a href="https://www.instagram.com/cratedigs/" target="_blank"><img src="/assets/img/instagram.svg" alt="Instagram" /></a>
                {{!-- <a href="https://apps.apple.com/gb/app/crate-digs/id1536154248" target="_blank"><img src="/assets/img/apple.svg" alt="Download iOS app" /></a>
                <a href="https://play.google.com/store/apps/details?id=com.cratedigsapp2.cratedigs" target="_blank"><img src="/assets/img/android.svg" alt="Download Android app" /></a> --}}
                <a href="mailto:hello@cratedigs.com"><img src="/assets/img/email.svg" alt="Email" /></a>
            </div>

    </div>

    
</nav>
