<!DOCTYPE html>
<html lang="{{@site.locale}}" data-color-scheme="light">
  <head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{!-- Page Meta --}}
    <title>{{#is "account"}}{{t "Account"}} - {{else}}{{#is "signin"}}{{t "Sign in"}} - {{else}}{{#is "signup"}}{{t "Sign up"}} - {{/is}}{{/is}}{{/is}}{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

    {{!-- PWA --}}
    <link rel="manifest" href="{{asset 'manifest.webmanifest'}}">
    <meta name="theme-color" content="{{@site.accent_color}}">
    <link rel="apple-touch-icon" href="{{asset 'icon-192x192.png'}}">

    {{!-- Preloading --}}
    <link rel="preload" href="{{asset 'dist/app.min.js'}}" as="script">
    <link rel="preload" href="{{asset 'dist/app.min.css'}}" as="style">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {{#if @custom.typography}}
      {{#match @custom.typography "Poppins"}}
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap" as="font" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" as="font" onload="this.onload=null;this.rel='stylesheet'">
        
        {{!-- No Js --}}
        <noscript>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap">
        </noscript>  
      {{/match}}

      {{#match @custom.typography "Manrope"}}
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" as="font" onload="this.onload=null;this.rel='stylesheet'">

        {{!-- No Js --}}
        <noscript>
          <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        </noscript>
        <style>
          body {
            --font-family-sans-serif: 'Manrope';
            --font-family-secondary: 'Manrope';
          }
        </style>
      {{/match}}

      {{!-- Cabin --}}
      {{#match @custom.typography "Cabin"}}
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" 
              as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin>
        <noscript>
          <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        </noscript>
        <style>
          body {
            --font-family-sans-serif: 'Cabin';
            --font-family-secondary: 'Cabin';
          }
        </style>
      {{/match}}

      {{!-- Lora --}}
      {{#match @custom.typography "Lora"}}
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" 
              as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin>
        <noscript>
          <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        </noscript>
        <style>
          body {
            --font-family-sans-serif: 'Lora';
            --font-family-secondary: 'Lora';
          }
        </style>
      {{/match}}

      {{!-- Inconsolata --}}
      {{#match @custom.typography "Inconsolata"}}
        <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap" 
              as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin>
        <noscript>
          <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
        </noscript>
        <style>
          body {
            --font-family-sans-serif: 'Inconsolata';
            --font-family-secondary: 'Inconsolata';
          }
        </style>
      {{/match}}
    {{else}}
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
      <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" as="font" onload="this.onload=null;this.rel='stylesheet'">
      
      {{!-- No Js --}}
      <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap">
      </noscript>  
    {{/if}} 

    {{!-- Theme Configuration --}}
    {{> theme-config}}

    {{!-- Styles --}}
    <link rel="stylesheet" type="text/css" href="{{asset 'dist/app.min.css'}}" />

    {{!-- Theme scripts --}}
    <script async defer src="{{asset 'dist/app.min.js'}}"></script>

    <!--cssential--><style></style><!--/cssential-->

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    {{!-- Include Search View --}}
    {{> search}}

    {{!-- Include Menu --}}
    {{> menu}}

    {{!-- The blog navigation links --}}
    {{^is "signin, signup"}}
      {{> header}}
    {{/is}}

    <main class="main">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
    </main>

    {{!-- The footer at the very bottom --}}
    {{^is "signin, signup"}}
      {{> footer}}
      <div class="scroll-to-top">{{> icon name="arrow-up"}}</div>
    {{/is}}

    {{> gradient}}

    {{!-- Service Worker for PWA --}}
    <script>
      if (config.enable_pwa && 'serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
  </body>
</html>
