<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="/assets/built/screen.css?v=7" />

    <link rel="stylesheet" type="text/css" href="/assets/built/audio-player.css?v=7" />
    <link rel="stylesheet" type="text/css" href="/assets/built/bootstrap.min.css" />
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/built/schedule.css?v=7" />
    <link rel="stylesheet" type="text/css" href="/assets/built/crate.css?v=7" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156403087-1"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-156403087-1');
    </script>



    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    {{!-- <a href="{{@site.url}}">Latest Posts</a>
                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> --}}
                </nav>
            </div>
        </footer>

    </div>


    {{!-- jQuery, required for fitvids --}}
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}


    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}



    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-ui-touch-punch@0.2.3/jquery.ui.touch-punch.min.js"></script>

   
    {{!-- <script language="javascript" type="text/javascript" src="/assets/built/audio-player.js?1"></script>
    <script language="javascript" type="text/javascript" src="/assets/built/streaminfo.js?1"></script> --}}
    <script language="javascript" type="text/javascript" src="/assets/built/cratedigs.js?2"></script>
    <script language="javascript" type="text/javascript" src="/assets/built/shopify.js"></script>

  

    <script src="https://cdn.jsdelivr.net/npm/moment@2/moment.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>

    <script language="javascript" type="text/javascript" src="/assets/built/calendar.js"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/js/SwupBodyClassPlugin.min.js"></script>
    
    <script type="text/javascript">
        const swup = new Swup({
            plugins: [new SwupBodyClassPlugin()]
        });
        function crateInit() {
            activeDay();
            getDJinfo();
            printCalendar();
            shopify();
        }
        // this event runs for every page view after initial load
        swup.on('contentReplaced', function() {
            crateInit();
            window.scrollTo(0, 0);
        });
        setInterval(getDJinfo, 10000);
        swup.cache.empty();
    </script>
    
</body>
</html>
